.bt-block-recent-posts {
  display: flex;
  flex-direction: column;
  padding: 0;
  &.is-reverse {
    .bt-post {
      flex-direction: row-reverse;
    }
  }
  .bt-post {
    display: flex;
    gap: 30px;
    color: inherit;
    align-items: center;
    &:not(:last-child) {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $color-line;
    }
    .bt-cover-image {
      padding-bottom: 0;
      border-radius: 8px;
    }
    &--thumbnail {
      width: 90px;
      display: block;
    }
    &--infor {
      width: 100%;
    }
    &--meta {
      display: flex;
      align-items: center;
      gap: 12px;
    }
    &--publish {
      @extend .__caption_2_typo;
      color: $color-text;
      padding-right: 12px;
      position: relative;
      &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 12px;
        background: $color-line;
        right: 0;
        content: "";
      }
    }
    &--category {
      @extend .__caption_2_typo;
      color: $color-text;
      a {
        color: inherit;
        &:hover {
          color: $color-primary
        }
      }
    }
    &--title {
      @extend .__heading_5_typo;
      color: $color-primary;
      margin: 4px 0 0 0;
      a {
        color: inherit;
        text-decoration: underline;
        text-underline-offset: 3px;
        text-decoration-color: transparent;
        &:hover {
          text-decoration-color: inherit;
        }
      }
    }
    @media(max-width: $break-tl) {
      gap: 20px;
    }
    @media(max-width: $break-md) {
      gap: 16px;
      &--meta {
        gap: 8px;
      }
      &--publish {
        padding-right: 8px;
      }
    }
    @media(max-width: $break-xs) {
      gap: 12px;
    }
  }
}
.bt-block-instagram-posts {
  padding: 0;
  @extend .__instagram-posts-style;
}
