/* Error: Undefined variable.
 *      ,
 * 1630 |     box-shadow: 0 0 5px 0 rgba($color-black, 0.16);;
 *      |                                ^^^^^^^^^^^^
 *      '
 *   assets/sass/_general.scss 1630:32  @import
 *   assets/sass/admin-main.scss 6:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a      \2577 \a 1630 \2502      box-shadow: 0 0 5px 0 rgba($color-black, 0.16);;\a      \2502                                 ^^^^^^^^^^^^\a      \2575 \a   assets/sass/_general.scss 1630:32  @import\a   assets/sass/admin-main.scss 6:9    root stylesheet";
}
